<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtO93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <title>Portofolio</title>
</head>

<body>
    <!-- Navigasi -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Portofolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#project">Portofolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- home -->
    <div class="container-fluid banner" id="home">
        <div class="container text-center">
            <h1>Alifah</h1>
            <h5>I'am a student LearningX Full Stack web Dev Group 4</h5>
            <button type="button" class="btn btn-primary btn-lg">Visit My Works</button>
        </div>
    </div>

    <!-- about -->
    <div class="container-fluid pt-5 pb-5" id="about">
        <div class="container">
            <h2 class="text-center">About Me</h2>
            <p class="text-center">Berikut ini beberapa informasi tentang saya.</p>
            <div class="clearfix pt-5">
                <img src="/static/a1.jpg" class="col-md-4 float-md-end crop-img">
                <p>I am a passionate, self-motivated, reliable, responsible and hard worker who can excel under pressure
                    and meet tight deadlines. As an informatics engineer, I find programming interesting because
                    programming gives me the opportunity to sharpen my mind, develop practical problem solving,
                    strengthen my understanding and deepen my experience in the entire field of engineering informatics.
                    I am a 6th semester student in the Informatics Engineering Study Program at Yudharta University,
                    Pasuruan. And currently, I am taking part in the MBKM program at LX International partners. </p>
                <button type="button" class="btn btn-outline-primary">Download my CV</button>
            </div>
        </div>
    </div>

    <!-- portofolio -->
    <div class="container-fluid pt-5 pb-5 bg-light" id="project">
        <div class="container text-center">
            <h2 id="#portofolio">Portofolio</h2>
            <p>Berikut ini adalah beberapa project yang pernah saya buat selama kuliah.</p>
            <div class="row pt-4 gx-4 gy-4">
                <div class="col-md-4">
                    <div class="card crop-img">
                        <img src="/static/a2.png" class="card-img-top" width="200" height="200">
                        <div class="card-body">
                            <h5 class="card-title">Web Informasi Kampus</h5>
                            <p class="card-text">Tugas ini adalah tugas awal membuat proyek mata kuliah pemrograman web
                                dasar</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card crop-img">
                        <img src="/static/a2.png" class="card-img-top" width="200" height="200">
                        <div class="card-body">
                            <h5 class="card-title">Web Informasi Kampus</h5>
                            <p class="card-text">Tugas ini adalah tugas awal membuat proyek mata kuliah pemrograman web
                                dasar</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card crop-img">
                        <img src="/static/a2.png" class="card-img-top" width="200" height="200">
                        <div class="card-body">
                            <h5 class="card-title">Web Informasi Kampus</h5>
                            <p class="card-text">Tugas ini adalah tugas awal membuat proyek mata kuliah pemrograman web
                                dasar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="contact" id="contact">
        <div class="container text-center">
            <h2>Contact Me</h2>
            <p> How can you communicate?</p>
            <form action class="contact-form col-md-10 col-lg-8 m-auto">
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <input type="text" size="50" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="email" class="form-control" placeholder="Enter Your Name" required>
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea type="comment" id="comment" rows="6" class="form-control"
                            placeholder="Write Something"></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid footer pt-5 pb-5">
        <div class="box text-center">
            <div class="row pt-4 gx-4 gy-4">
                <h5>Follow Us</h5>
                <div class="col">
                    <img src="https://w7.pngwing.com/pngs/117/306/png-transparent-computer-icons-whatsapp-logo-whatsapp-text-logo-silhouette-thumbnail.png"
                        alt="">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Facebook_icon_%28black%29.svg/1024px-Facebook_icon_%28black%29.svg.png"
                        alt="">
                    <img src="https://e7.pngegg.com/pngimages/178/228/png-clipart-computer-icons-black-and-white-social-media-logo-social-media-thumbnail.png"
                        alt="">
                    <img src="https://cdn.icon-icons.com/icons2/2428/PNG/512/twitter_black_logo_icon_147062.png" alt="">
                    <img src="https://banner2.cleanpng.com/20180904/rtt/kisspng-email-attachment-electronic-mailing-list-world-wid-13th-wave-team-members-5b8ec1727cfd07.217856751536082290512.jpg"
                        alt="">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>